<div #datepicker id="datepicker" class="calendar">
  <div class="calendar-header">
    <button (click)="goPrevMonth()">&#60;</button>
    <div class="dropdown-selector">
      <p class="mx-1" (click)="showHideMonthSelector()">
        {{ months[showingDateSCM.currentDate.month - 1] }}
      </p>
      <app-selector-scm
        *ngIf="showMonthSelector"
        [collection]="months"
        [selectedItem]="months[showingDateSCM.month - 1]"
        (onSelected)="optionSelected($event.toString())"
      ></app-selector-scm>
    </div>
    <div class="dropdown-selector">
      <p class="mx-1" (click)="showHideYearSelector()">
        {{ showingDateSCM.currentDate.year }}
      </p>
      <app-selector-scm
        *ngIf="showYearSelector"
        [collection]="getYearsArray()"
        [selectedItem]="showingDateSCM.year"
        (onSelected)="optionSelected($event.toString())"
      ></app-selector-scm>
    </div>
    <button (click)="goNextMonth()">&#62;</button>
  </div>
  <div class="calendar-table-container">
    <table>
      <tr>
        <th class="w-10" *ngFor="let weekDay of weekDays">{{ weekDay }}</th>
      </tr>
      <tr *ngFor="let daysRow of calendarDays; index as dayRow">
        <td *ngFor="let dayCell of daysRow">
          <div
            *ngIf="
              (dayRow >= 4 && dayCell <= 7) || (dayRow <= 1 && dayCell >= 24);
              else availableDay
            "
          >
            <div class="disabled-days">
              {{ dayCell }}
            </div>
          </div>
          <ng-template #availableDay>
            <div
              [ngClass]="{ today: isToday(dayCell) }"
              class="calendar-table-cell"
              (click)="userSelectDate(dayCell)"
            >
              {{ dayCell }}
            </div>
          </ng-template>
        </td>
      </tr>
    </table>
  </div>
  <!-- <div class="calendar-footer">
    <button class="ok">OK</button>
    <button>CANCEL</button>
  </div> -->
</div>
